# Игнорируем зависимости, они будут установлены внутри контейнера
node_modules

# Игнорируем результаты предыдущих сборок
dist

# Игнорируем лог-файлы npm
npm-debug.log*

# Игнорируем системные файлы Git
.git

# Игнорируем тестовые отчеты
coverage