# --- Главная настройка: Выбор драйвера базы данных ---
# Возможные значения: "postgres", "mongodb", "in-memory"
DATABASE_DRIVER="mongodb"

# --- Настройки для PostgreSQL (используются, если DATABASE_DRIVER="postgres") ---
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_USERNAME="your_postgres_user"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_DATABASE="afisha"
# Автоматическая синхронизация схемы БД. В продакшне обычно false.
POSTGRES_SYNCHRONIZE="true" # true или false

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin_password

# --- Настройки для MongoDB (используются, если DATABASE_DRIVER="mongodb") ---
# Подключение к базе данных MongoDB
DATABASE_URL="mongodb://localhost:27017/afisha"

# --- Настройки для In-Memory (используются, если DATABASE_DRIVER="in-memory") ---
# Для in-memory приложение ожидает, что DATABASE_URL будет пустой.
# Поэтому здесь явных переменных для in-memory не нужно.

# Включение режима отладки
DEBUG=*

# Режим запуска приложения: 'development' или 'production'
NODE_ENV="development"

# Тип логгера: 'dev' (для разработки), 'json' (для машин), 'tskv' (спец. формат)
LOGGER_TYPE="dev"

# CORS
FRONTEND_URL=http://localhost:80